div div.formAdd input {
    width: 20vw;
    padding: 0 5px;
    border: 1px solid;
    border-radius: 2px;
}

.formAdd{
    position: fixed;
    display: flex;
    flex-direction: column;

}

.listBox {
    padding: 0.5rem;
    align-content: flex-start;
}

.boxContainer {
    overflow: hidden;
    display: inline-block;
    background-color: white;
    padding: 4px;
}

#add-btn {
    width: 7vw;
    /* padding: 8px auto; */
    background-color: rgba(215, 212, 212, 0.19) !important;
    border: 1px solid black;
    border-radius: 2px;
}