<!DOCTYPE html>
<html>
<head>
  <title><%= book.title %> - Book Detail</title>
</head>
<body>
  <h1><%= book.title %> - Book Detail</h1>
  <p><strong>Author:</strong> <%= book.author %></p>
  <p><strong>Summary:</strong> <%= book.summary %></p>
</body>
</html>
