<!DOCTYPE html>
<html>
<head>
  <title>Book List</title>
</head>
<body>
  <h1>Book List</h1>
  <ul>
    <% books.forEach(book => { %>
      <li><a href="/detail/<%= book.id %>"><%= book.title %></a></li>
    <% }); %>
  </ul>
</body>
</html>
